.floating-button {
  position: fixed;
  top: auto;
  bottom: 7rem;
  right: 5rem;
  z-index: 1000;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  transition: background-color 0.2s ease-in-out;
}

.floating-button:hover {
  background-color: #0056b3;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 500px;
  background: rgb(221, 249, 239);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  display: flex;
  text-align: left;
  flex-direction: column;
  padding: 1rem;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.sidebar-header h2 {
  font-size: 1.25rem;
  margin: 0;
}

.close-button {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
}

.close-button:hover {
    color:aliceblue
}

.sidebar-content {
  flex: 1;
  overflow-y: auto;
}

.sidebar-content p {
  margin-bottom: 1rem;
}
